# ── Flask ──────────────────────────────────────────────────────
FLASK_ENV=development
SECRET_KEY=YzU2MmUyYzgtNDIyMS00NDQxLWJkNWEtOTM3ZmYwMmFmNjdj

# ── Database ───────────────────────────────────────────────────
# Put your database password in DB_PASSWORD
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=                
DB_NAME=vitapulse_db

# ── Google OAuth (optional — get from console.cloud.google.com) ─
# Put your google auth crediantials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5000/auth/google/callback

# ── Groq AI API Key ──────────────
# Put your grok api key from groq API console
GROQ_API_KEY=




